<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote for Best Movie</title>
</head>
<body>
<form action="voteForTheBestMovie.html" method="PUT">
  <p>Your Name: <input text="text" name="voterName"></p>
    <select name="movieId">
        <option value="0">Select Movie</option>
        <option th:each="movie : ${movies}" th:value="${movie.id}" th:text="${movie.title}"></option>
    </select>
  <p><input type="submit" value="Submit"></p>
</form>
<p th:text="'Your favorite movie is: ' + ${BestMovieVote}"></p>

<a href="/">Home</a>
</body>
</html>